# Introduccion a Python
{Guido Van Rossum, un programador de computación de los Países Bajos, creó Python. Python comenzó en 1989 en el Centrum Wiskunde & Informatica (CWI), en principio como un proyecto de afición para mantenerse ocupado durante las vacaciones de Navidad. El nombre del lenguaje se inspiró en el programa de televisión de la BBC “Monty Python’s Flying Circus” debido a que Guido Van Rossum era un gran aficionado del programa.}
## ¿Que veremos hoy?


1.   Objeto
2.   Variable
3.   Ejemplo

Nota: en este procesador de texto, se puede escribir en html y en latex.
Por ejemplo vamos a escribir la ecuacón mas hermosa de todas.
$$e^{i\pi}+1=0$$

Otro Ejemplo
latex
\begin{bmatrix}
a & b \\
c & d
\end{bmatrix}

### Algunos objetos en Python



1.   Int y float (enteros y flotantes)
2.   str ("string")
3.   Conjuntos y Listas


---

**La funcion `print` y la funcion `type`**

In [1]:
# vamos a imprimir Hola Mundo!
"Hola Mundo!"

'Hola Mundo!'

In [4]:
print("Godo")

print("Hola a todos!")

Godo
Hola a todos!

### Operaciones basicas en int o float


*   $+, -$ Suma y Resta
*   $*, /, **$ Multiplicación, dividir y potenciación.
*   $ \% $ Operacion modular.
*   $//$División al piso

**Creacion de variables**

nombre = objeto

In [7]:
# vamos a crear 2 variables

x = 7
y = 3

In [8]:
# Operaciones
print(f"La suma entre {x} y {y} es {x+y}")
print(f"La potenciacion entre {x} y {y} es {x**y}")
print(f"El residuo entre {x} y {y} es {x%y}")
print(f"La division al piso entre {x} y {y} es {x//y}")

La suma entre 7 y 3 es 10
La potenciacion entre 7 y 3 es 343
El residuo entre 7 y 3 es 1
La division entre 7 y 3 es 2

In [9]:
# La funcion type nos dice el tipo de objeto

type(x/y), type("Godo")

(float, str)